<footer class="container-fluid bg-secondary text-white p-5">
    <div class="container">
        <div class="row">
            <!--Logo-->
            <div class="col-12 col-lg-6">
                <a routerLink="/">
                    <img src="/assets/img/Logo.png" alt="Logo Trouve ton artisan avec la région Auvergne-Rhône-Alpes" class="bg-white mx-auto d-block">
                </a>
            </div>
            <!--Adresse-->
            <div class="col-12 col-lg-6 mt-3">
                <address>
                    <div class="d-flex gap-3 justify-content-center">
                        <fa-icon [icon]="faLocationDot"></fa-icon>
                        <p>
                            <span>101 rue charlemagne <br/>
                            CS 20033 <br/>
                            69269 LYON CEDEX 02 <br/>
                            France</span> 
                        </p>
                    </div>
                    <div class="d-flex gap-3 justify-content-center">
                        <fa-icon [icon]="faPhone"></fa-icon>
                        <p class="py-auto">
                            <span>+33 (0)4 26 73 40 00</span> 
                        </p>
                    </div>
                </address>
            </div>
        </div>
        <!--Liens obligatoire-->
        <div class="row border-top mt-4">
            <ul class="col-12 d-flex flex-wrap justify-content-evenly">
                <li>
                    <a href="#">Mentions Légales</a>
                </li>
                <li>
                    <a href="#">Données Personnelles</a>
                </li>
                <li>
                    <a href="#">Accessibilité</a>
                </li>
                <li>
                    <a href="#">Cookies</a>
                </li>
                <li>
                    <a href="#">Presse</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</footer>