<div class="container">
    <!-- Titres -->
    <div class="d-flex justify-content-center">
        <app-titreh1 titre="Nos artisans"/>
    </div>

    <div *ngIf="categorie" class="d-flex justify-content-center">
        <app-titreh2 class="text-capitalize" [titre]="categorie"/>
    </div>

    <!-- Bar de recherche -->
    <div *ngIf="!recherche" class="container d-flex">
        <div class="recherche d-flex rounded border p-2 gap-2">
            <input class="ps-2" type="text" placeholder="Recherche" aria-label="Search" type="search" id="rechercheBar" [(ngModel)]="searchTerm">
            <label class="pe-2" for="rechercheBar"><fa-icon [icon]="faMagnifyingGlass"></fa-icon></label>
        </div>
    </div>

    <!-- Cartes d'artisans -->

        <!-- Cartes d'artisans par catégory -->
        <div *ngIf="categorie">
            <div *ngIf="(artisans | categoryFilter: categorie | search: searchTerm).length < 1">
                <app-invalid-search />
            </div>
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 my-2 justify-content-center">
                <div class="col my-2" *ngFor="let artisan of artisans | categoryFilter: categorie | search: searchTerm">
                    <app-artisan-card [data]="artisan"/>
                </div>
            </div>
        </div>

        <!-- Cartes d'artisans par recherche -->
        <div *ngIf="recherche">
            <div *ngIf="(artisans | search: recherche).length < 1">
                <app-invalid-search />
            </div>
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 my-2 justify-content-center">
                <div class="col my-2" *ngFor="let artisan of artisans | search: recherche">
                    <app-artisan-card [data]="artisan"/>
                </div>
            </div>
        </div>

        <!-- Cartes d'artisans si aucun paramètres -->
        <div *ngIf="!recherche && !categorie">
            <div *ngIf="(artisans | search: searchTerm).length < 1">
                <app-invalid-search />
            </div>
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 my-2 justify-content-center">
                <div class="col my-2" *ngFor="let artisan of artisans | search: searchTerm">
                    <app-artisan-card [data]="artisan"/>
                </div>
            </div>
        </div>
</div>
