/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: Graphik;
    font-weight: 100 400;
    src: url(/assets/fonts/Graphik-Regular-Trial.otf) format("truetype");
}

@font-face {
    font-family: Graphik;
    font-weight: 500 900;
    src: url(/assets/fonts/Graphik-Bold-Trial.otf) format("truetype");
}

body {
    background-color: #fff;
    font-family: Graphik, arial, sans-serif;
    color: #384050;
    font-size: 1.6rem;
}